/*
winterkleuren
text #b79b8e
outline #483C32
background #01b0bb

zomerkleuren
text
outline
background
*/

/*de kleuren variabel maken*/
:root{
    --first-color: #b79b8e;
    --second-color: #483C32;
    --third-color: #01b0bb;
}

/*eerste zin*/
h2{
    font-style: Copperplate;
    color:var(--first-color);
    outline-width: 1;
    font-size: 75px;
    -webkit-text-stroke: 1px var(--second-color);
    text-align: center;
}

/*tweede zin*/
h1{
    font-style: Copperplate;
    color:var(--first-color);
    outline-width: 1;
    font-size: 50px;
    -webkit-text-stroke: 1px var(--second-color);
    text-align: center;
}

/*achtergrond*/
body{
    background-color: var(--third-color);
}